.done {
	text-decoration: line-through;
	opacity: 0.5;
}

body {
	font-family: 'Roboto', sans-serif;
	align-content: center;
	background-color: yellow;

}

button {
	background-color: purple;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

}