.done {
	text-decoration: line-through;
	opacity: 0.5;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #1F262A;
	align-content: center;
	background-color: #FFCB21;

}

h1 {
	color: #73EEDC;
}
button {
	background-color: #12D6E1;
	border: none;
	color: #FFCB21;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 20px;
	font-size: 16px;

}